# Python
backend/venv/
__pycache__/
*.pyc
.env

# Node
frontend/node_modules/
node_modules/

# Next.js
frontend/.next/
.next/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Python virtual environment
backend/vnev/
backend/venv/
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/package-lock.json
node_modules/